@charset "utf-8";
.ui-footer h4.ui-title {
	font-size: 0.8em;
	font-weight: normal;
}

h3, H4 {
	margin-bottom: 0;
	text-align: justify;
}

h3+P, H4+P{
	margin-top: 0;
	text-align: justify;
}

p {
	text-align: justify;
}#step2 div .ui-grid-a {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 32px;
}
.ui-grid-a .ui-block-b li {
	padding-left: 5px;
}
div ul li {
}

[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;} 